{
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "singleQuote": true,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
